
h1 {
   text-align: center;
}

h3 {
   color: rgb(22, 210, 22);
}

.box-shadow {
   box-shadow: 0px 2px 15px rgba(137, 137, 137, 0.5);
}

.cardbody:hover {
   cursor: pointer;
   transform: scale(1.10);
   color: rgb(248, 248, 248);
   background-color: rgb(5, 154, 45);
}

.cardbody {
   transition: transform .2s;
   height: 250px;
   width: 200px;
   margin: 50px;
   padding: 40px;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   border: 1px solid rgb(219, 216, 216);
}