.container
{
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1533912352517-92dd08116ea4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHdoaXRlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60') no-repeat;
}
h1 {
  margin-top: 40px;
    color: #006400;
    font-size: 3rem;
  }
  hr{
    margin-left: 600px;
    border-color: #006400;
    border-width: 3px;
    max-width: 65px;
  }
  .buffer{
    height: 20rem;
  }
  .btn{
    font-weight: 700;
    border-radius: 300px
  }
  .btn-primary{
    background-color: #006400;
    border-color: #006400;
  }
  .btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 4px;
  }
  .btn-xl {
    padding: 1rem 2rem;
  }
  