.container
{
  width: 100%;
}
h1 {
  margin-top: 40px;
    color: #006400;
    font-size: 3rem;
  }
  hr{
    margin-left: 600px;
    border-color: #006400;
    border-width: 3px;
    max-width: 65px;
  }
  .buffer{
    height: 20rem;
  }
  .btn{
    font-weight: 700;
    border-radius: 300px
  }
  .btn-primary{
    background-color: #006400;
    border-color: #006400;
  }
  .btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 4px;
  }
  .btn-xl {
    padding: 1rem 2rem;
  }
  