.box-shadow
 {
  box-shadow:0px 2px 10px rgba(0,0,0,0.5);
 }
 .cardbody1:hover
 {
    transform: scale(1.10);
 } 
 .cardbody2:hover
 {
    transform: scale(1.10);
 } 
 .cardbody3:hover
 {
    transform: scale(1.10);
 } 